<nav class="navbar navbar-expand-lg px-lg-5 px-3 bg-white sticky-top border">
  <a class="navbar-brand" href="#"><img src="assets/images/logo.png" height="40" alt="BB Logo"></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mt-3 mt-lg-0" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item mx-1">
        <a class="nav-link active" aria-current="page" href="#">Новини</a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" href="https://transport.burgasbus.info/">
          Градски разписания
        </a>
      </li>
      <li class="nav-item mx-1 dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Автогари
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Автогара Запад</a></li>
          <li><a class="dropdown-item" href="#">Автогара Юг</a></li>
        </ul>
      </li>
      <li class="nav-item mx-1 dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Превозни документи
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Градски карти</a></li>
          <li><a class="dropdown-item" href="#">Междуградски карти</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Цени на билети</a></li>
        </ul>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" href="#">За нас</a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" href="#">Контакти</a>
      </li>

    </ul>
  </div>
</nav>