
    <div class="container border-top mt-5">
        <footer class="py-5">
            <div class="row">
                <div class="col-6 col-md-6 mb-3">
                    <img src="assets/images/bus png.png" class="img-fluid">
                </div>
                <div class="col-6 col-md-2 mb-3">
                    <h5>Разписания</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Градски линии</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Автогара
                                Запад</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Автогара Юг</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-3">
                    <h5>За нас</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Контакти</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Често задавани
                                въпроси</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Заявки</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Лицензи и
                                сертификати</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Лични данни</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-between py-4 my-4 border-top">
                <p>© 2025 Company, Inc. All rights reserved.</p>
                <!-- <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis" href="#" aria-label="Instagram"><svg class="bi"
                            width="24" height="24">
                            <use xlink:href="#instagram"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#" aria-label="Facebook"><svg class="bi" width="24"
                            height="24" aria-hidden="true">
                            <use xlink:href="#facebook"></use>
                        </svg></a></li>
            </ul> -->
                <img src="assets/images/logo.png" height="40" alt="BB Logo" class="img-fluid opacity-25">
            </div>
        </footer>
    </div>