:host {
  display: flex;
  justify-content: center;
}
[ngTabs] {
  overflow: hidden;
  border-radius: 0.5rem;
}
[ngTabList] {
  padding: 0;
  display: flex;
  list-style: none;
  position: relative;
}
[ngTab] {
  flex: 1;
  outline: none;
  padding: 30px;
  cursor: pointer;
  text-align: center;
}
[ngTab][aria-selected='false']:focus {
  outline-offset: -8px;
  border-radius: 0.7rem;
  outline: 2px solid var(--bright-blue);
}
[ngTab][aria-selected='true'] {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.sliding-window {
  width: 400%;
  display: flex;
  transition: all 0.2s ease-in-out;
}

[ngTabList]:has([ngTab]:nth-child(1)[aria-selected='true']) ~ .sliding-window {
  transform: translateX(0%);
}
[ngTabList]:has([ngTab]:nth-child(2)[aria-selected='true']) ~ .sliding-window {
  transform: translateX(-25%);
}
[ngTabList]:has([ngTab]:nth-child(3)[aria-selected='true']) ~ .sliding-window {
  transform: translateX(-50%);
}
[ngTabList]:has([ngTab]:nth-child(4)[aria-selected='true']) ~ .sliding-window {
  transform: translateX(-75%);
}
[ngTabPanel] {
  display: grid;
  place-items: center;
  min-height: 100px;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  width: 25%;
  place-items: center;
  min-height: 100px;
}
[ngTabPanel]:focus {
  outline-offset: -4px;
  border-radius: 0.5rem;
}